.main, .jumbotron {
  height: 80vh;
  background-image: url('./images/bwcollab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  margin-top: 1vh;
  border-radius: 0px;
}

.main h1 {
  font-size: 7vw;
}

.sign {
  color: #FFF;
}

.sign:hover {
  color: #FFF;
}

a {
  color: #272822;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.main p, .main button {
  font-size: 2vh;
}

.content {
  margin-top: 20vh;
}

.main-components {
  margin: 8vh 2vw 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.nav-item {
  position: relative;
}

.user {
  cursor: pointer;
}

div.container {
  margin: 0;
}

.main-challenge {
  width: 100%;
  margin-left: 2vw;
}

div.CodeMirror {
  margin: 5.5% 2% 0 0;
  height: 71.5vh;
  width: 100%;
  font-size: 1.3em;
}

.events-banner {
  background: url('./images/events.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  margin-top: 5vh;
  position: absolute;
  height: 53vh;
  width: 100%;
  z-index: -1;
}

.bg-events {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.add-event {
  position: absolute;
  z-index: 99;
  right: 3vw;
  top: 10vh;
}

.event-lookup {
  margin-top: 47vh;
  margin-bottom: -25%;
}

.event-render {
  margin-top: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.user-events {
  overflow: scroll;
  height: 40vh;
  width: 45%;
}

.community-events {
  overflow: scroll;
  height: 40vh;
  width: 45%;
}

.alert {
  width: 100%;
}

.users { 
  right: 1vw;
  padding: 2%; 
  width: 100%; 
  height: 20vh;
  border-bottom: 1px solid #ddd;
  overflow: scroll;
}

.challenge-header {
  margin-right: 1vw;
}

.bg-challenges {
  height: 100vh;
  width: 100%;
  background-color: #5CB85C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.bg-challenges h4 {
  margin-bottom: 3vh;
}

.chat { 
  position: fixed;
  right: 3vw;
  top: 10vh; 
  width: 20vw; 
  height: 81vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: scroll;
}

.dropdown-menu {
  margin-right: 75vw;
  border: none;
  width: 10px;
}

.bg-container {
  position: fixed;
  left: 0;
  background-color: #0275D8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-container form {
  width: 40%;
}

.form-inline {
  position: fixed;
  right: 4vw;
  bottom: 10vh;
}

.messages {
  padding: 1vh;
}

.chat li { 
  list-style-type: none; 
  margin: 0; 
  padding: 3%;
  font-size: 0.8em;
  width: 100%; 
  background-color: #ecf0f1;
  border: 1px solid #dfdfdf;
  word-break: break-all;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1%;
  width: 100%;
  margin-top: 5vh;
}

::-webkit-scrollbar {
  display: none;
}
