.main {
  height: 80vh;
  background-image: url('./images/bwcollab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  margin-top: 1vh;
  border-radius: 0px;
}

.content {
  margin-top: 30vh;
}

footer {
  margin-left: 3vw;
}