.main {
  height: 80vh;
  background-image: url('./images/bwcollab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  margin-top: 1vh;
  border-radius: 0px;
}

.content {
  margin-top: 30vh;
}

.nav-item {
  position: relative;
}

.up {
  display: none;
  transition: 500ms ease-in-out;
}

.dropdown {
  position: absolute;
  z-index: 999;
  right: 0;
  transition: 500ms ease-in-out;
}



.user {
  cursor: pointer;
}

footer {
  margin-left: 3vw;
}

div.container {
  margin: 0;
}

div.CodeMirror {
  margin: 5.5% 2%;
  height: 71.5vh;
  width: 75vw;
  font-size: 1.3em;
}

.chatbox {
  margin-top: 12vh;
}

.users { 
  position: fixed;
  right: 1vw;
  padding: 2%; 
  width: 20vw; 
  height: 20vh;
  border: 1px solid #ddd;
  overflow: scroll;
}

.chat { 
  position: fixed;
  right: 1vw;
  top: 40vh; 
  width: 20vw; 
  height: 40vh;
  border: 1px solid #ddd;
  overflow: scroll;
}

.chat ul {
  padding: 0;
}

.form-inline {
  position: fixed;
  right: 1vw;
  bottom: 10vh;
}

.textbox { 
  border: 1px solid #bbb; 
  border-radius: 0;
  padding: 1.5vh 1.62vw; 
}

.chatbutton { 
  border: 1px solid #bbb;
  padding: 1.5vh 1.18vw; 
  border-radius: 0;
}

.chat li { 
  list-style-type: none; 
  margin: 0; 
  padding: 3%;
  font-size: 0.8em;
  width: 100%; 
  background-color: #ecf0f1;
  border: 1px solid #dfdfdf;
  word-break: break-all;
}

::-webkit-scrollbar {
  display: none;
}
